@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TradeSystem.Utils.Models.LoginDataModel


@using (Html.BeginForm("forgotpassword", "account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validate" }))
{
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Password recovery -->
                <form action="index.html" class="form-validate">
                    <div class="panel panel-body login-form">
                        <div class="text-center">
                            <div class="clearfix text-slate-300"><a class="text-slate-300 text-bold f-18x" href="~/Account/Admin" title="@Resources.Languages.TRADINGSYSTEM"> <img class="logo" src="~/Content/images/Logo-splitdeals.png" alt=""></a></div>
                        <h5 class="content-group mt-20 f-18x">Forgot Password <small class="display-block">We'll send you instructions in email</small></h5>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            @Html.TextBoxFor(x => x.Email, new { type = "email", @class = "form-control", placeholder = "Email", required = "required", maxlength = "50"})
                            <div class="form-control-feedback">
                                <i class="icon-mail5 text-muted"></i>
                            </div>
                        
                        @if (ViewBag.Success == "true")
                        {
                            <label class="green">@ViewBag.Message</label>
                        }
                        @if (ViewBag.Success == "false")
                        {
                            <label class="red">@ViewBag.Message</label>
                        }
                        </div>
                        @*<input type="submit" value=@Resources.Languages.GetPassword class="btn bg-blue btn-block" /><i class="icon-arrow-right14 position-right"></i>*@
                        <button type="submit" class="btn bg-blue btn-block" title="Get Password">Get Password <i class="icon-arrow-right14 position-right"></i></button>
                        <a href="@Url.Action("Admin","account")" class="btn bg-orange btn-block" title="Back"><i class="icon-arrow-left13 position-left"></i> Back </a>
                    </div>
                </form>
                <!-- /password recovery -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
	<!-- /page container -->
}