@*@model  ICanSpeakWebsite.Models.FriendDetails*@
@{
    ViewBag.Title = "Friendlist";
}

<script type="text/javascript" src="@Url.Content("/Scripts/jquery.min.js")"></script>
<link href="~/css/jquery.flipcountdown.css" rel="stylesheet" />
<script src="@Url.Content("/Scripts/jquery.flipcountdown.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".InviteFriend").click(function () {
            var id = $(this).attr("id");

            $.ajax({
                url: '@Url.Action("SendRequest", "Friend")',
                type: "POST",
                data: { inviteid: id, },
                success: function (data) {
                    var pp = document.getElementById(id);
                    pp.value = 'Requested';
                    pp.innerHTML = 'Requested';
                },
                error: function (result) {
                    $("#lblLoginerror").css("display", "block");
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".AcceptRequest").click(function () {
            var id = $(this).attr("id");

            $.ajax({
                url: '@Url.Action("AcceptGetRequest", "Friend")',
                type: "POST",
                data: { inviteid: id, },
                success: function (data) {
                    $(this).hide();
                    location.reload();
                },
                error: function (result) {
                    $("#lblLoginerror").css("display", "block");
                }
            });
        });

        $(".cancelRequest").click(function () {
            var id = $(this).attr("id");
            var divid = $(this).parent().parent().attr("id");
            //alert(divid);
            $.ajax({
                url: '@Url.Action("CancelGetRequest", "Friend")',
                type: "POST",
                data: { inviteid: id, },
                success: function (data) {
                    //console.log(data);
                    $("#" + divid).remove();
                    location.reload();
                },
                error: function (result) {
                    $("#lblLoginerror").css("display", "block");
                }
            });
        });

        $(".UnfriendRequest").click(function () {
            var id = $(this).attr("id");
            var divid = $(this).parent().parent().attr("id");
            //alert(divid);
            $.ajax({
                url: '@Url.Action("UnFriendGetRequest", "Friend")',
                type: "POST",
                data: { inviteid: id, },
                success: function (data) {
                    //console.log(data);
                    $("#" + divid).remove();
                    location.reload();
                },
                error: function (result) {
                    $("#lblLoginerror").css("display", "block");
                }
            });
        });
    });
</script>

<link href="~/Content/css/main.css" rel="stylesheet" />

<div class="row accordian">

    <div class="container">
        <div class="PD50 row">

            <div class="col-lg-12 ">
                <div class="col-md-3 user-profice-pic">



                    <img src="@ViewBag.ProfilePicture"  class="img-page">
                </div>
                <div class="col-md-9">
                    <div class="col-md-4">
                        <h2 class=" user-profile">@ViewBag.Username</h2>

                        <h4 class="tutor-city-name">@ViewBag.Country</h4>
                    </div>
                    <div class="col-lg-5 col-lg-push-3">
                        <!--<ul class="nav nav-pills view-profile">
                        <li class="active"><a href="#">Subscription</a></li>
                        <li><a href="#">Normal</a></li>                      
                    </ul>
                   -->
                    </div>
                </div>
                <div class="col-lg-2 blue-wrapper">
                    <h2>My Score</h2>
                    <h3>@ViewBag.MyScore / @ViewBag.TotalScore</h3>
                </div>
                <div class="col-lg-2 blue-wrapper">
                    <h2>Instructor Evaluation</h2>
                    <h3>Great </h3>
                </div>
                <div class="col-lg-2 blue-wrapper">
                    <a href="../../Vocab/FlashCardWordList">
                        <h2>Flashcards</h2>
                    </a>
                    <h3>@ViewBag.FlashCard</h3>
                </div>
                <div class="col-lg-2 blue-wrapper">
                    <h2>Days Remaining</h2>
                    <div align="center">
                        <div id="retroclockbox_sm"></div>
                    </div>
                    <script>
                        jQuery(function ($) {
                            //var NY = Math.round((new Date('1/01/2015 00:00:01')).getTime()/1000);
                            $('#new_year').flipcountdown({
                                size: 'lg',
                                beforeDateTime: '1/01/2015 00:00:01'

                            });
                        });
                    </script>
                    <script>
                        jQuery(function ($) {
                            $('#retroclockbox_lg').flipcountdown({ size: 'lg' });
                            $('#retroclockbox_md').flipcountdown({ size: 'md' });
                            $('#retroclockbox_sm').flipcountdown({ size: 'sm' });
                            $('#retroclockbox_xs').flipcountdown({ size: 'xs' });
                        })
                    </script>
                </div>


            </div>

        </div>

    </div>






    <!--<div class="col-lg-2 grey-wrapper">
                    <h2>Course Duration</h2>
                    
                </div>-->
    <span class=" right-part">
        @*<button type="button" class="btn submit-but"><i class="fa fa-plus-circle"></i>&nbsp;Add New course</button>*@
    </span>
    <div class="clearfix"></div>
    <div class="row">
        <div class="container PD50">

            <div class="col-lg-7 ">
                <header style="background: transparent !important">
                    <h2>FRIENDS LIST</h2>
                </header>
                @{
                    if (ViewBag.FriendStatus == "No Data")
                    {
                        <div  class="col-lg-12">
                       <h3>No Data</h3>
                    </div>
                    }
                    else
                    {
                        var i = 0;
                        foreach (var Friend in ViewBag.FrndUserProfile)
                        {
                            var Divid = "mydiv_" + i;
                            if (Convert.ToInt32(Friend["Status"]) == 0)
                            {
                    <div id="@Divid" class="col-lg-12 tutor-wrap1 friendRequestDiv">
                        <div class="col-lg-2 tutor-pic">
                            <img src="@Friend["ProfilePicture"]" class="img-responsive img-thumbnail">
                        </div>
                        <div class="col-lg-5">
                            <h2 class="tutor-name">@Friend["UserName"]<span class="tutor-city-name">  @Friend["Country"]</span></h2>
                        </div>
                        <div class="col-lg-4 ">
                            <input type="hidden" id="dialogid" value="@Friend["UserId"]"/>
                            <button id="@Friend["UserId"]" class="btn btn-danger MT-30P pull-right cancelRequest btn-xs">Cancel</button>
                            <button id="@Friend["UserId"]" class="btn btn-info MT-30P pull-right AcceptRequest btn-xs">Accept</button>
                        </div>
                    </div>
                            }
                            else
                            {
                    <div id="@Divid" class="col-lg-12 tutor-wrap1 UnfriendRequestDiv">
                        <div class="col-lg-2 tutor-pic">
                            <img src="@Friend["ProfilePicture"]" class="img-responsive img-thumbnail">
                        </div>
                        <div class="col-lg-5">
                            <h2 class="tutor-name">@Friend["UserName"]<span class="tutor-city-name">@Friend["Country"]</span></h2>
                        </div>
                        <div class="col-lg-4 ">
                            <input type="hidden" id="dialogid" value="@Friend["UserId"]"/>
                            <button id="@Friend["UserId"]" class="btn btn-danger MT-30P pull-right UnfriendRequest btn-xs">Unfriend</button>
                        </div>
                    </div>
                            }
                            i++;
                        }
                    }
              }

            </div>
            <div class="col-lg-5">
                <header style="background: transparent !important">
                    <div>
                        <h2>SUGGESTED FRIENDS  <a class="pull-right" href="#">See More</a></h2>

                    </div>
                </header>

                @foreach (var UnFriend in ViewBag.UnFrndUserProfile)
                {
                    if (Convert.ToInt32(UnFriend["Status"]) == 2)
                    {
                    <div class="col-lg-12 tutor-wrap1">
                        <div class="col-lg-2 tutor-pic">
                            <img src="@UnFriend["ProfilePicture"]" class="img-responsive img-thumbnail">
                        </div>
                        <div class="col-lg-5">
                            <h2 class="tutor-name">@UnFriend["Username"]<span class="tutor-city-name">@UnFriend["Country"]</span></h2>
                        </div>
                        <div class="col-lg-4 pull-right">
                            <input type="hidden" id="dialogid" value="@UnFriend["UserId"]"/>
                            <button id="@UnFriend["UserId"]" class="btn btn-info MT-30P InviteFriend btn-xs">Invite Friend</button>
                        </div>
                    </div>
                    }
                    else
                    {
                    <div class="col-lg-12 tutor-wrap1">
                        <div class="col-lg-2 tutor-pic">
                            <img src="@UnFriend["ProfilePicture"]" class="img-responsive img-thumbnail">
                        </div>
                        <div class="col-lg-5">
                            <h2 class="tutor-name">@UnFriend["Username"]<span class="tutor-city-name">@UnFriend["Country"]</span></h2>
                        </div>
                        <div class="col-lg-4 pull-right">
                            <input type="hidden" id="dialogid" value="@UnFriend["UserId"]"/>
                            <button id="@UnFriend["UserId"]" class="btn btn-info MT-30P RequestedFriend btn-xs">Requested</button>
                        </div>
                    </div>
                    }
                }

            </div>
        </div>
    </div>

</div>
</div>
