@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TradeSystem.Utils.Models.LoginDataModel



<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Password recovery -->
            @*<form action="index.html" class="form-validate">*@
            @using (Html.BeginForm("CustomerForgotPassword", "CustomerManagement", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validate" }))
            {
                <div class="panel panel-body login-form">
                    <div class="text-center">
                        <div class="pull-right ml-20">
                            @{var langCount = 1;
                                {
                                    foreach (var i in TradeSystem.MVCWeb.SiteLanguages.AvailableLanguages)
                                    {
                                        @Html.ActionLink(i.LangFullName, "ChangeLanguage", "CustomerManagement", new { lang = i.LangCultureName, url = Request.Url.AbsoluteUri }, new { @class = "text-indigo text-size-base", @id = "lang-img-" + langCount })
                                        langCount++;
                                    }
                                    langCount = 1;
                                }
                            }
                        </div>
                        <div class="clearfix text-slate-300"><a class="text-slate-300 text-bold f-18x" href="~/CustomerManagement/Login" title="@Resources.Languages.TRADINGSYSTEM"> <img class="logo" src="~/Content/images/Logo-splitdeals.png" alt=""></a></div>
                         <h5 class="content-group mt-20 f-18x">@Resources.Languages.ForgotPassword <small class="display-block">@Resources.Languages.ForgotPasswordTitle</small></h5>
                    </div>                 

                    <div class="form-group has-feedback has-feedback-left">
                        <input type="email" name="Email" class="form-control" placeholder="@Resources.Languages.Email" required="required" value="@Model.Email" maxlength = "50"/>
                        @*@Html.TextBoxFor(x => x.Email, new { type = "email", @class = "form-control", placeholder = @Resources.Languages.Email, required = "required", maxlength = "50" })*@
                        <div class="form-control-feedback">
                            <i class="icon-mail5 text-muted"></i>
                        </div>

                        @if (ViewBag.Success == "true")
                        {
                            <label class="green">@ViewBag.Message</label>
                        }
                        @if (ViewBag.Success == "false")
                        {
                            <label class="red">@ViewBag.Message</label>
                        }
                    </div>
                    @*<input type="submit" value=@Resources.Languages.GetPassword class="btn bg-blue btn-block" /><i class="icon-arrow-right14 position-right"></i>*@
                    <button type="submit" class="btn bg-blue btn-block" title="@Resources.Languages.GetPassword">@Resources.Languages.GetPassword <i class="icon-arrow-right14 position-right"></i></button>
                    <a href="@Url.Action("Login","CustomerManagement")" class="btn bg-orange btn-block" title="@Resources.Languages.Back"><i class="icon-arrow-left13 position-left"></i> @Resources.Languages.Back </a>
                </div>
                    @*</form>*@
                            }
            <!-- /password recovery -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->
                   }
<script type="text/javascript">
    // Parsley Validation
    $(document).ready(function () {

        //Add a class on selected language to indentify
        readCookie("culture") == "en" ? $('#lang-img-1').hide() : $('#lang-img-2').hide();

        //function for add img of lang country flag
        $('#lang-img-1').addClass('lang-en');
        $('#lang-img-2').addClass('lang-es');
    });
    //function for get value of current culture from the cookie
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

</script>