@{
    ViewBag.Title = "New Customer Registration";
    Layout = "~/Views/Shared/_CustomerLoggedInLayout.cshtml";
}

@model TradeSystem.Utils.Models.CustomerDataModel
<!-- Form -->
<div class="row">
    <div class="col-md-12">
        <!-- Customer Form -->
        @*<form class="form-horizontal" action="#">*@
        @using (Html.BeginForm("RegisterNewUser", "Sale", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validate form-horizontal" }))
        {
            <div class="panel panel-flat">
                <div class="panel-heading pb-10">
                    <h5 class="panel-title"><span class="text-danger text-size-mini">* @Resources.Languages.Fieldsaremandatory</span></h5>

                </div>
                <div class="panel-body">
                    <!-- Personal Information -->
                    <fieldset>
                        <legend class="text-bold">
                            <i class="icon-file-text2 position-left"></i>
                            @Resources.Languages.PersonalInformation

                        </legend>
                        <div class="collapse in" id="CM_personal_information">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.FirstName<span class="text-danger">*</span>:</label>
                                        <div class="col-lg-7">
                                            <input type="text" name="FirstName" class="form-control" placeholder="@Resources.Languages.YourName" required="required" minlength ="2" maxlength="50" value="@Model.FirstName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.MiddleName:</label>
                                        <div class="col-lg-7">
                                            <input type="text" name="MiddleName" class="form-control" placeholder="@Resources.Languages.YourMiddleName" minlength ="2" maxlength="50" value="@Model.MiddleName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.LastName<span class="text-danger">*</span>:</label>
                                        <div class="col-lg-7">
                                            <input type="text" name="LastName" class="form-control" placeholder="@Resources.Languages.YourLastName" required="required" minlength ="2" maxlength="50" value="@Model.LastName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.MotherLastName<span class="text-danger">*</span>:</label>
                                        <div class="col-lg-7">
                                            <input type="text" name="MotherLastName" class="form-control" placeholder="@Resources.Languages.YourMotherLastName" required="required" minlength ="2" maxlength="50" value="@Model.MotherLastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.Birthdate<span class="text-danger">*</span>:</label>
                                        <div class="col-lg-7">
                                            @*<input type="date" id="birthDate" name="BirthDate" class="form-control" placeholder="Your Birthdate" required="required" value="@Model.BirthDate">*@
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                                <input type="text" id="birthDate" class="form-control datepicker" name="BirthDate" placeholder="@Resources.Languages.YourBirthdate" value="@Model.BirthDate" required>
                                            </div>
                                            @*@Html.TextBoxFor(_item => _item.BirthDate, new
                                                {
                                                @selectedDate = Model.BirthDate,
                                                @class = "form-control",
                                                @type = "date",
                                                @name = "BirthDate",
                                                @Value = Model.BirthDate.ToString("MM/dd/yyyy")
                                                })*@

                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.Yourcountry:</label>
                                        <div class="col-lg-7">
                                            <select id="countryId" data-placeholder="@Resources.Languages.Select your country" name="CountryId" onchange="GetAllState(this.value);" class="select form-control">
                                                <option value="">@Resources.Languages.Select</option>
                                                @foreach (var country in ViewBag.Country)
                                                {
                                                    @*<option value="@country.Value">@country.Text</option>*@
                                                if (Session["CountryId"].ToString() == country.Value.ToString())
                                                {
                                                    <option selected="selected" value="@country.Value">@country.Text</option>
                                                }
                                                else
                                                {

                                                    if (country.Text.ToString() == "Mexico")
                                                    {
                                                        <option selected="selected" value="@country.Value">@country.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@country.Value">@country.Text</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.Selectyourstate:</label>
                                        <div class="col-lg-7">
                                            <select id="state_ddl" name="StateId" data-placeholder="@Resources.Languages.Selectyourstate" class="select form-control">
                                                <option value="">@Resources.Languages.Select</option>
                                                @*<option value="@Model.CountryId">@Model</option>*@
                                                @*<optgroup label="Alaskan/Hawaiian Time Zone">
                                                        <option value="AK">Alaska</option>
                                                        <option value="HI">Hawaii</option>
                                                    </optgroup>
                                                    <optgroup label="Pacific Time Zone">
                                                        <option value="CA">California</option>
                                                        <option value="NV">Nevada</option>
                                                        <option value="WA">Washington</option>
                                                    </optgroup>
                                                    <optgroup label="Mountain Time Zone">
                                                        <option value="AZ">Arizona</option>
                                                        <option value="CO">Colorado</option>
                                                        <option value="WY">Wyoming</option>
                                                    </optgroup>
                                                    <optgroup label="Central Time Zone">
                                                        <option value="AL">Alabama</option>
                                                        <option value="AR">Arkansas</option>
                                                        <option value="KY">Kentucky</option>
                                                    </optgroup>
                                                    <optgroup label="Eastern Time Zone">
                                                        <option value="CT">Connecticut</option>
                                                        <option value="DE">Delaware</option>
                                                        <option value="FL">Florida</option>
                                                    </optgroup>*@
                                            </select>
                                        </div>
                                    </div>
                                    <div id="RFC" class="form-group" style="display:none">
                                        <label class="col-lg-4 control-label">@Resources.Languages.RFCNumber<span class="text-danger">*</span>:</label>
                                        <div class="col-lg-7">
                                            <input type="text" id="RFCText" onblur="GenerateRFC()" name="RFC" class="form-control" placeholder="@Resources.Languages.YourRFCNumber" maxlength="10" value="@Model.RFC">
                                            <span id="rfcErrorMessage" class="red" style="display:none">@Resources.Languages.CorrectRFC</span>
                                        </div>
                                    </div>
                                    <div id="DNI" class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.DNI<span class="text-danger">*</span>:</label>
                                        <div class="col-lg-7">
                                            <input type="text" id="DNIText" name="DNI" class="form-control" placeholder="@Resources.Languages.YourDNI" maxlength="25" value="@Model.DNI" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <!-- /personal information -->
                    <!-- Login Details -->
                    <fieldset>
                        <legend class="text-bold">
                            <i class="icon-reading position-left"></i>
                            @Resources.Languages.LoginDetails

                        </legend>
                        <div class="collapse in" id="CM_login_details">
                            <div class="row">
                                <div class="col-md-6">
                                    @*<div class="form-group">
                                            <label class="col-lg-4 control-label">Username<span class="text-danger">*</span>:</label>
                                            <div class="col-lg-7">
                                                <input type="text" name="UserName" class="form-control" placeholder="Your Username" maxlength="50" required="required" value="@Model.UserName">
                                            </div>
                                        </div>*@
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.EmailAddress<span class="text-danger">*</span>:</label>
                                        <div class="col-lg-7">
                                            <input type="email" name="Email" class="form-control" placeholder="@Resources.Languages.YourEmailAddress" required="required" value="@Model.Email">
                                            @if (ViewBag.Message != "")
                                            {
                                                <span class="error-red">@ViewBag.Message</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.ConfirmEmail<span class="text-danger">*</span>:</label>
                                        <div class="col-lg-7">
                                            <input type="email" name="ConfirmEmail" class="form-control" placeholder="@Resources.Languages.ConfirmEmail" required="required" value="@Model.ConfirmEmail">
                                            @if (ViewBag.EmailMessage != "")
                                            {
                                                <span class="error-red" >@ViewBag.EmailMessage</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.Password<span class="text-danger">*</span>:</label>
                                        <div class="col-lg-7">
                                            <input type="password" data-parsley-password="" name="Password" class="form-control" placeholder="@Resources.Languages.YourPassword" required="required" value="@Model.Password">
                                          
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.ConfirmPassword<span class="text-danger">*</span>:</label>
                                        <div class="col-lg-7">
                                            <input type="password" data-parsley-password="" name="ConfirmPassword" class="form-control" placeholder="@Resources.Languages.ConfirmPassword" required="required" value="@Model.ConfirmPassword">
                                            @if (ViewBag.PasswordMessage != "")
                                            {
                                                <span class="error-red">@ViewBag.PasswordMessage</span>
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <!-- login details -->
                    <!-- Bank Details (Optional) -->
                    <fieldset>
                        <legend class="text-bold">
                            <i class="icon-cash4 position-left"></i>
                            @Resources.Languages.BankDetailsOptional

                        </legend>
                        <div class="collapse in" id="CM_bank_details">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.Bank:</label>
                                        <div class="col-lg-7">
                                            <input type="text" name="BankName" maxlength="50" class="form-control" placeholder="@Resources.Languages.Bank" value="@Model.BankName">
                                        </div>
                                        @*<div class="col-lg-7">

                                            <select name="BankId" class="form-control">
                                                <option value="">@Resources.Languages.Select</option>
                                                @foreach (var bank in ViewBag.Bank)
                                                {
                                                    if (Session["BankId"].ToString() == bank.Value)
                                                    {
                                                        <option selected="selected" value="@bank.Value">@bank.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@bank.Value">@bank.Text</option>
                                                    }
                                                }
                                           
                                            </select>
                                        </div>*@
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.AccountNumber:</label>
                                        <div class="col-lg-7">
                                            <input data-parsley-type="number" name="BankAccount" maxlength="50" class="form-control" placeholder="@Resources.Languages.AccountNumber" value="@Model.BankAccount">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.CLABENumber:</label>
                                        <div class="col-lg-7">
                                            <input data-parsley-type="number" name="Clabe" maxlength="50" class="form-control" placeholder="@Resources.Languages.CLABENumber" value="@Model.Clabe">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.BeneficiaryName:</label>
                                        <div class="col-lg-7">
                                            <input type="text" name="BenificiaryName" maxlength="50" class="form-control" placeholder="@Resources.Languages.BeneficiaryName" value="@Model.BenificiaryName">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <!-- /bank details (optional) -->
                    <!-- Maximum% Commission for Sale Out of Total Investment -->
                    <fieldset>
                        @*<legend class="text-bold">
                            <i class="icon-percent position-left"></i>
                            @Resources.Languages.MaximumCommissionforSaleOutofTotalInvestment

                        </legend>*@
                        <input type="hidden" name="Commission" class="form-control" maxlength="3" placeholder="@Resources.Languages.MaxPerCommission" value="0">
                        @*<div class="collapse in" id="CM_maximum_commission">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">@Resources.Languages.MaxPerCommission:</label>
                                        <div class="col-lg-7">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-12 control-label text-danger">
                                            @Resources.Languages.ComissionNote
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </fieldset>
                    <!-- /maximum% commission for sale out of total investment -->
                    <div class="text-center">
                        @*<button class="btn bg-orange" title="Back">Back <i class="icon-arrow-left13 position-right"></i></button>*@
                        <a class="btn bg-orange" href="@Url.Action("MySales","Sale")" title="Back"><i class="icon-arrow-left13 position-left"></i>@Resources.Languages.Back </a>
                        <button id="register" type="submit" class="btn btn-primary" title="Register">@Resources.Languages.Register <i class="icon-arrow-right14 position-right"></i></button>
                        @*<input type="submit" id="register" class="btn btn-primary"  />*@
                    </div>
                </div>
            </div>
            @*</form>*@
        }
        <!-- /customer form -->
    </div>
</div>

<!-- /form -->
<script type="text/javascript">

    $(document).ready(function () {
        var cId = $('#countryId :selected').val();
        GetAllState(cId);
    });


    if ('@Session["CountryId"].ToString()' != "") {
        GetAllState('@Session["CountryId"].ToString()');
    }
    //function for call get all state list by country id
    function GetAllState(countryid) {

        if ($('#countryId :selected').text().trim() == "Mexico") {
            $('input[name=DNI]').val("");
        } else {
            $('input[name=RFC]').val("");
        }

        if ($('#countryId :selected').text().trim() == "Mexico") {
            $('#RFC').show();
            $('#RFCText').attr('required', 'required');
            $('#DNIText').removeAttr('required');
            $('#DNI').hide();

        }
        else {
            $('#RFCText').removeAttr('required');
            $('#DNIText').attr('required', 'required');
            $('#RFC').hide();
            $('#DNI').show();
            $('#register').prop("disabled", false);
        }    

        $.ajax({
            type: "Post",
            url: '@Url.Action("GetAllState", "CustomerManagement")',
            data: { id: countryid },
            success: function (response) {
                var appenddata;
                var result = $.parseJSON(response);
                //get state json to object format
                $.each(result, function (k, v) {
                    appenddata += "<option value = '" + v.Value + " '>" + v.Text + " </option>";
                });
                $('#state_ddl').html(appenddata);
            },
            failure: function (e) {
            }
        });
    }

    ////function for disable future date
    $(function () {
        $("#birthDate").datepicker(
        {
            todayBtn: "linked",
            format: "mm/dd/yyyy",
            endDate: new Date(),
            autoclose: true,
        })
        .change(dateChanged)
   .on('changeDate', dateChanged);
    });
    function dateChanged(ev) {
        $('#parsley-id-13').hide();
        if ($('#birthDate').val() == '') {
            $('#parsley-id-13').show();
        } else {
            $('#period').text("-");
        }
    }
    // funtion for generating RFC if country is mexico
    function GenerateRFC() {
        var dob = $('#birthDate').val();
        var formattedDate = new Date(dob);
        var d = formattedDate.getDate().toString();
        var dString = "";
        if (d < 10) { d = '0' + d; }
        for (var i = d.length - 1; i >= 0; i--) {
            dString += d[i]; // or yString = yString + y[i];
     
        }
        var m = formattedDate.getMonth();
        m += 1;  // JavaScript months are 0-11
        month = m.toString();
      
        if (month < 10) { month = '0' + month; }
        var mString = "";
        for (var i = month.length - 1; i >= 0; i--) {
            mString += month[i]; // or yString = yString + y[i];
          
        }
        var y = formattedDate.getFullYear().toString().substr(2, 2);
        var yString = "";
        for (var i = y.length - 1; i >= 0; i--) {
            yString += y[i]; // or yString = yString + y[i];
         
        }

        // var formatDate = yString + "" + mString + "" + dString;
        //change code RFC concept
        var formatDate = y + "" + month + "" + d;        

        var rfc = $('#RFCText').val().match(/\d+/);       
        if (formatDate == rfc) {
            $('#rfcErrorMessage').hide();
            $('#register').prop("disabled", false);
        }
        else {
            $('#rfcErrorMessage').show();
            $('#register').prop("disabled", true);
        }

    }
</script>
