@model iCanSpeakAdminPortal.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}

@*<script type="text/javascript">
    $(document).ready(function () {
        $('#change').click(function () {
            var minlength = $('#NewPassword').val();
            if (minlength.length < 6)
            {
                $('#errormsg').text('New password should be more than 6 characters');
                return false;
            }
        });
    })
</script>*@

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <font color="44c9ff"> Change Password </font>
                </h1>
            </div>            
        </div>

        <!--Edit Table start-->

        <div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2  col-sm-6 col-sm-offset-2 col-xs-12">
            <div class="row">

                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email Id</label>
                        <input type="email" class="form-control" id="email" required name="email" placeholder="Email Id">
                       
                        <span style="color: red;font-size:16px;">@Html.ValidationMessageFor(m=>m.Email)</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Current Password</label>
                        <input type="password" class="form-control" id="CurrentPassword" required name="CurrentPassword" placeholder="Current Password" pattern=".{6,10}" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : 'Current Password should be 6 to 10 characters.';)";>
                        <span style="color: red;font-size:16px">@Html.ValidationMessageFor(m=>m.CurrentPassword)</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">New Password</label>
                        <input type="password" class="form-control" id="NewPassword" required name="NewPassword" placeholder="New Password" pattern=".{6,10}" title="New Password should be 6 to 10 characters." @*onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : 'New Password and Confirm Password should match');if(this.checkValidity()) form.ConfirmPassword.pattern = this.value;"*@ >
                        <span style="color: red;font-size:16px">@Html.ValidationMessageFor(m=>m.NewPassword)</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm New Password</label>
                         <input type="password" class="form-control" id="ConfirmPassword" required name="ConfirmPassword" placeholder="Confirm New Password" pattern=".{6,10}" title="Password should be 6 to 10 characters.">
                        <span style="color: red;font-size:16px">@Html.ValidationMessageFor(m=>m.ConfirmPassword)</span>
                    </div>
                    <div class="form-group">
                        <input id="change" type="submit" class="btn btn-info" value="Change Password" />&nbsp;&nbsp;<input type="button" class="btn btn-info" value="Reset" onclick="ResetFormValues()" />
                    </div>
                    <div class="form-group">
                        @if (ViewBag.Result == "Password Changed Successfully")
                        {
                            <label style="color: green; font-size: 16pt; font-weight: 200;">
                                Password Changed Successfully
                            </label>
                        }
                        else
                        {
                            <label id="errormsg" style="color: red; font-size: 16pt; font-weight: 200;">
                                @ViewBag.Result
                            </label>
                        }
                    </div>
                    
                }
            </div>
        </div>
        <!-- /.row -->
        <!--edit table end here-->
    </div>
    <!-- /.container-fluid -->

</div>


@Scripts.Render("~/bundles/jquery")


<script type="text/javascript">
    function ResetFormValues() {
        $("#CurrentPassword").val('');
        $("#NewPassword").val('');
        $("#ConfirmPassword").val('');
    }
</script>